body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #858694;
  display: flex;
  justify-content: space-around;
}

.navLinks {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-top: 25px;
}

#nav {
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: 700;
}

.calculator-do {
  font-size: 24px;
  margin-left: -125px;
  font-weight: 600;
  margin-top: -50px;
  padding-bottom: 50px;
}

.quotes {
  text-align: center;
  margin-top: 150px;
  font-size: 20px;
}

blockquote {
  font-style: italic;
}

.home {
  background-color: #f5913e;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  box-shadow: 5px 5px 15px 5px black;
  border-radius: 30px;
  position: relative;
  text-align: center;
  top: 70px;
}

.home p {
  font-size: 20px;
  width: 700px;
  margin-left: 100px;
}

h1 {
  color: #9b4906;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 28rem;
  margin: 8rem auto;
}

.display {
  font-size: 45px;
  text-align: right;
  background-color: #858694;
  color: white;
  padding: 2rem;
}

.calculator-btn {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.c-btn {
  width: 7rem;
  height: 76px;
  font-size: 24px;
  background-color: #cccbcb;
  border: 1px solid white;
  cursor: pointer;
}

.orange {
  background-color: #f5913e;
}

.double {
  width: 14rem;
}
